<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
    <title>Eat Da burger!!!</title>
    <script src="https://code.jquery.com/jquery.js"></script>

</head>

<body>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQMjzlvpW7SIcWhbcRjjLhsQi3Fkm7_HgiJFnV6hXDuSAUyXFrl&usqp=CAU"
        alt="BurgerImg">
    <h1>EAT THA BURGER!</h1>
    {{{ body }}}
</body>

</html>