<ol class="burger">
    {{#each burgers}}
    {{#unless devoured}}
    <li>{{burger_name}}</li><button class="devouredBurger" name={{id}}>Devoured</button>
    {{/unless}}
    {{/each}}
</ol>



<ol class="devoured">
    {{#each burgers}}
    {{#if devoured}}
    <li>{{burger_name}}</li>
    {{/if}}
    {{/each}}
</ol>

<form class="create-form">

    <div class="form-group">
        <input type="text" id="burgerName" placeholder="Enter Your Burger" name="name">
    </div>
    <button type="submit" id="clickBurger">Make</button>
</form>

<script>
    $("#clickBurger").on("click", function () {
        console.log("we got clicked");
        $.ajax({
            url: "/api/burgers",
            data: {
                burger_name: $("#burgerName").val(),
                devoured: false
            },
            type: "post"
        }).then(function (answer) {
            console.log(answer)
        })
    })

    $(".devouredBurger").on("click", function () {
        console.log("we got clicked");
        $.ajax({
            url: "/api/burgers/" + $(this).attr("name"),
            type: "put",
        }).then(function (answer) {
            console.log(answer)
            location.reload()
        })
    })

</script>