*{
  background-color: rgb(247, 214, 144);
  box-sizing: border-box;
   text-align: center;
}
h1{
   color:red; 
}
img {
  display: block;
  margin:auto;
  width: 20%;
}
li {
  padding: 5px;
  margin: 1px;
  width: auto;
  background: #e9e4dff5;
}
.burger{
 float: left;
 width: 50%;
 text-align: center;
}
.devoured{
 float: left; 
 width: 50%;
 text-align: center;
}

.label {
  font-weight: bold;
}
input{
  font-size: 20px;
  padding: 50px;
  background-color: aliceblue;
}
button{
  padding: 15px;
  background-color: rgb(0, 157, 255);
  font-weight: bolder;
    cursor: pointer;
  /* transition: 1s ease-in-out; */
}


form {
  clear: both;
  margin-bottom: 5px;
}