*{
  background-color: rgb(247, 214, 144);
  box-sizing: border-box;
   text-align: center;
}
h1{
   color:red; 
}
img {
  display: block;
  margin:auto;
  width: 20%;
}
li {
  padding: 5px;
  margin: 1px;
  width: auto;
  background: #e9e4dff5;
}
.burger{
 float: left;
 width: 50%;
 text-align: center;
}
.devoured{
 float: left; 
 width: 50%;
 text-align: center;
}
.label {
  font-weight: bold;
}
input{
  font-size: 20px;
  padding: 50px;
  background-color: aliceblue;
}
button{
  padding: 15px;
  border-radius: 70%;
  background-color: rgb(85, 203, 85);
  font-weight: bolder;
  cursor: pointer;
  transition-duration: 0.4s;
}
button:hover {
  background-color:rgb(233, 53, 53);
  color: white;
}
form {
  clear: both;
  margin-bottom: 5px;
}